* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  width: 100%;
  max-width: min(90%, 600px);
  margin-top: 20vh;
  margin-bottom: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input,
button {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  text-align: center;
  width: 100%;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
}

audio {
  width: 100%;
}

.control-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#game-container,
#next-btn,
#album-art,
#song-title,
#song-artist {
  display: none;
}

#album-art {
  width: 60%;
  margin: 0 auto;
  border-radius: 8px;
}
