/* COLOR VARIABLES */

:root {
  --main-color: #1ed760;
  --hover-state: #1fdf64;
  --bg-color: #0a0a0a;
  --component-bg-color: #181818;
  --text-color: #ffffff;
  --secondary-text-color: #b3b3b3;
  --border-color: #282828;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
}

main {
  width: 100%;
  max-width: min(95%, 700px);
  margin-top: 10vh;
  margin-bottom: auto;
  padding: 1.5rem;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: var(--component-bg-color);
}

input,
button {
  padding: 12px;
  font-size: 1rem;
  border-radius: 12px;
  text-align: center;
  width: 100%;
}

input {
  background-color: var(--bg-color);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}

input:focus {
  outline: 1px solid var(--main-color);
}

button {
  background-color: var(--main-color);
  border: none;
  cursor: pointer;
  color: var(--bg-color);
}

button:hover {
  background-color: var(--hover-state);
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
}

audio {
  width: 100%;
}

footer {
  margin-top: 2rem;
  padding-bottom: 1rem;
  font-size: 0.85rem;
  color: var(--secondary-text-color);
}

footer a {
  color: var(--secondary-text-color);
  text-decoration: none;
  transition: color 0.2s;
}

footer a:hover {
  color: var(--main-color);
}

i {
  margin-right: 3px;
}

.control-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#game-container,
#next-btn,
#album-art,
#song-title,
#song-artist {
  display: none;
}

#album-art {
  width: 60%;
  margin: 0 auto;
  border-radius: 12px;
}
