* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

main {
  max-width: 500px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

input,
button {
  padding: 12px;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}

header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.control-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

#game-container,
#next-btn {
  display: none;
}
